<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src='/js/app.js'></script>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<h1>Edit Pets</h1>
	<form action='/pets/<%=pets._id%>/edit?_method=PUT' method='POST'>
		Name: <input type="text" name="name" value='<%=pets.name%>'>
		Color: <input type="text" name="color" value='<%=pets.color%>'>
		Type: <input type="text" name="color" value='<%=pets.type%>'>
		Age: <input type="text" name="age" value='<%=pets.age%>'>
		<button type='submit'>Edit</button>
	</form>
</body>
</html>