<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>All the Pets!</h1>
	<ul>
		<% pet.forEach( (pet)=>{%>
			<li> Name: <%=pet.name %> </li>
			<li> Color: <%=pet.color %> </li>
			<li> Type: <%=pet.type %> </li>
			<li> Age: <%=pet.age %> </li>
			<button>
				<a href='/pets/<%=pet._id%>/edit'>Edit</a>
			</button>
			<form action='/pets/<%=pet._id%>?_method=DELETE' method='POST'>
				<button type='submit'>Move to a better home</button>
			</form>
			<br>
		<%})%>
	</ul>
	<button type='submit'>
		<a href='/pets/new'>Adopt a pet</a>
	</button>
</body>
</html>